.section-free-trial {
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background: url(../images/bg-free-trial-left.svg) no-repeat -40px,
        url(../images/bg-free-trial-right.svg) no-repeat right -10px,
        var(--card-gradient);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 29.7rem;
    padding: 2.62rem;
    border-radius: 12px;
    background-color: var(--white);
}

.form-control {
    width: 100%;
}

.form-flex {
    display: flex;
    gap: 0.75rem;
}

.form-input {
    border: 1px solid var(--tertiary-blue);
    border-radius: 0.75rem;
    height: 3rem;
}

.form-input::placeholder {
    color: var(--tertiary-blue);
    font-size: 0.75rem;
    font-family: Gilroy-medium;
    line-height: 1.125rem;
}

.url-input,
.alias-input {
    padding: 1rem 1.5rem;
}

.url-input {
    width: 100%;
}

.alias-input {
    width: 50%;
}

.select-domain {
    width: 50%;
    padding: 1rem 1.3rem;
    background: url(../images/icon-dropdown-blue.svg) no-repeat 90% 50%;
    color: var(--tertiary-blue);
    appearance: none;
    font-size: 0.85rem;
    font-family: Gilroy-medium;
}

.select-domain option {
    width: max-content;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    height: 3rem;
    border: none;
    border-radius: 6.25rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary-blue);
    color: var(--white);
    font-size: 0.85rem;
    line-height: 0.75rem;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 80%;
}

form p {
    color: var(--pale-blue);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

form a {
    color: var(--primary-blue);
    font-family: Gilroy-semiBold;
}
