.section-pricing {
    justify-content: center;
    align-items: center;
    gap: 4.25rem;
    margin-bottom: 7rem;
}

.section-pricing > div > p {
    width: 35rem;
    margin-top: 0.5rem;
    text-align: center;
    line-height: 1.5rem;
}

.pricing-cards {
    display: flex;
}

.pricing-cards .sub-heading3 {
    margin-bottom: 2rem;
}

.card-basic,
.card-teams {
    position: relative;
    z-index: 1;
    align-self: flex-start;
    border: 0.4px solid var(--secondary-blue);
    border-radius: 12px;
    margin-top: 5rem;
}

.card-teams li,
.card-basic li {
    background: url(../images/icon-check-circle.svg) no-repeat 0 2px;
    padding-left: 1.4rem;
    line-height: 1.5rem;
}

.card-basic {
    margin-right: -1rem;
    padding: 1.5rem 3.5rem 2.8rem 5rem;
}

.card-teams {
    margin-left: -1rem;
    padding: 1.5rem 5rem 2.8rem 3rem;
}

.card-professional {
    position: relative;
    z-index: 2;
    border-radius: 12px;
    padding: 5.9rem 4rem 9.25rem;
    background: var(--card-gradient);
    color: var(--white);
}

.card-professional li {
    background: url(../images/icon-check-circle-dark.svg) no-repeat 0 2px;
    padding-left: 1.4rem;
}

.plan {
    font-size: 2.5rem;
    font-family: Gilroy-bold;
    line-height: 3rem;
}

.plan-features li {
    margin-bottom: 1.5rem;
}

.btn-custom,
.btn-pricing {
    width: 12.5rem;
    border-radius: 6.25rem;
    padding: 0.75rem 1.5rem;
    font-family: Gilroy-semiBold;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.btn-custom {
    margin-right: 0.75rem;
    background: transparent;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
}

.btn-custom:hover {
    opacity: 60%;
}

.btn-pricing {
    border: none;
    background-color: var(--primary-blue);
    color: var(--white);
}

.btn-pricing:hover {
    opacity: 80%;
}
