/* ******************** HERO SECTION *********************** */
.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container {
    margin-bottom: 0.5rem;
    position: relative;
    text-align: center;
}

.heading {
    width: 59rem;
    height: 12.5rem;
}

.underline {
    position: absolute;
    left: 40%;
    bottom: 0.5rem;
}

.description {
    width: 48rem;
    height: 6rem;
    margin-bottom: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

.signup-btn,
.learn-btn {
    margin-bottom: 4.19rem;
    cursor: pointer;
    transition: var(--transition);
}

.signup-btn {
    width: 9rem;
    border: none;
    border-radius: 6.25rem;
    margin-right: 3.5rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-blue);
    color: var(--white);
}

.signup-btn:hover {
    opacity: 80%;
}

.learn-btn {
    border: none;
    background: transparent;
    color: var(--primary-blue);
}

.learn-btn:hover {
    transform: scale(1.1, 1.1);
}

.hero-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.hero-img1 {
    position: relative;
    z-index: 5;
    margin-bottom: 5.5rem;
}

.img-links {
    position: relative;
    z-index: 5;
    max-width: 48rem;
    backdrop-filter: blur(106px);
}

.img-stone {
    position: absolute;
    left: 0;
    top: -1rem;
    z-index: 1;
}

.hero-img2 {
    position: relative;
}

.img-rectangle {
    width: 100%;
}
